<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pongponglabs.eyear">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.auth.FindPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.auth.LoginPageActivity" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.info.AppInfoActivity" />
        <activity android:name=".ui.info.PrivacyActivity" />
        <activity android:name=".ui.info.OpensourceActivity" />
        <activity android:name=".ui.info.TermsActivity" />
        <activity android:name=".ui.info.VersionActivity" />
        <activity android:name=".ui.auth.RegisterPageActivity" />
        <activity android:name=".ui.account.SecessionActivity" />
        <activity android:name=".ui.account.PasswordChangeActivity" />
        <activity android:name=".ui.account.ProfileSettingActivity" />
        <activity android:name=".ui.account.AccountInfoActivity" />
        <activity android:name=".ui.auth.FindAuthDialog" />
        <activity android:name=".ui.SaveScriptDialog"/>
        <activity
            android:name=".ui.FeedbackActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.ScriptActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.auth.FindIdActivity" />
    </application>

</manifest>